<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" | Stormful">
      {assigns[:page_title] || "Into the storm!"}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-indigo-800 text-white min-h-screen antialiased">
    <%= if !@current_user do %>
      <ul class="absolute top-4 right-4 z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end">
        <li>
          <.link href={~p"/users/register"} class="text-[0.8125rem] leading-6 font-semibold">
            Register
          </.link>
        </li>
        <li>
          <.link href={~p"/users/log_in"} class="text-[0.8125rem] leading-6 font-semibold">
            Log in
          </.link>
        </li>
      </ul>
    <% end %>
    <div>
      {@inner_content}
    </div>
  </body>
</html>
