<.main_app_header current_user={@current_user} />

<main class="px-0 py-0">
  <div class="bg-purple-900 mx-auto lg:max-w-none lg:w-screen lg:px-16 p-4 sm:py-6 lg:mx-auto min-h-screen">
    <.flash_group flash={@flash} />
    {@inner_content}
  </div>
</main>
