<div class="p-8 pt-0 flex flex-col gap-4" id="winds" phx-hook="WindScroller" phx-update="stream">
  <div :for={{dom_id, wind} <- @streams.winds} dom_id={dom_id} id={dom_id}>
    <!-- todo => make in this wind context -->
    <StormfulWeb.Thoughts.ThoughtLive.wind wind={wind} />
  </div>
</div>
